body{
  margin: 0;
  font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
}

.container{
  width: 800px;
  margin: 0 auto;
  position: relative;
}

p,label{
  user-select: none;
}

header{
  background-color: rgb(6, 6, 112);
  display: flex;
  align-items: center;
  color: aliceblue;
}

header h1{
  margin: 0 12px;
}

#openSearch{
  margin-left: auto;
  margin-right: 12px;
  cursor: pointer;
  user-select: none;
}

#searchArea{
  background-color: rgb(255, 255, 255);
  
  border-radius: 4px;
  width: 400px;
  padding: 0 4px;
  position: absolute;
  right: 4px;
  top: 4px;
  height: 0;
  overflow: hidden;
  /* transition: 0.5s; */
}

#searchArea.open{
  height: 180px;
  /* transition: 0.5s; */
  box-sizing: border-box;
  border: 1px solid rgb(179, 179, 179);
}

#searchArea p{
  margin: 0;
  padding: 8px 0 0;
  font-weight: bold;
}

#searchArea label{
  display: block;
}

#searchAreaClose{
  position: absolute;
  top: 14px;
  right: 14px;
  cursor: pointer;
  user-select: none;
  font-size: 20px;
}

#searchBtn{
  margin: 16px 0 0;
}

#add_todo_title{
  display: flex;
}

#add_todo_title>i{
  line-height: 56px;
}

#add_todo_title>p{
  margin-left: 8px;
}




#add_todo{
  margin-bottom: 30px;
}

#add_todo>p{
  margin-bottom: 4px;
}

#add_new_todo, #titleSearch{
  width: 240px;
}

#columnTitles>p:first-of-type{
  /* margin-left: 21.75px; */
}

#columnTitles>p:last-of-type{
  margin-right: 21.56px;
}

#columnTitles>p{
  font-weight: bold;
  text-decoration: underline;
}

ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul li{
  display: flex;
  align-items: center;
}

.completeCheck{
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
}

.completed{
  background: #7c84f8;
  color: #dde0ff;
}

.notComplete{
  background: #ff8989;
  color: #fcefef;
}

li p{
  margin-left: 4px;
  flex:1;
  text-align: center;
}

.hidden{
  display: none;
}