body{
  margin: 0;
}

.container{
  width: 700px;
  margin: 0 auto;
  position: relative;
}

header{
  background-color: rgb(6, 6, 112);
  display: flex;
  align-items: center;
  color: aliceblue;
}

header h1{
  margin: 0 12px;
}